
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis familiares</title>
</head>
<body>

    Mis parientes son: <br><br>

    {{nombre.0}} que tiene {{edad.0}} años y nació en {{nacimiento.0}} <br>
    {{nombre.1}} que tiene {{edad.1}} años y nació en {{nacimiento.1}} <br>
    {{nombre.2}} que tiene {{edad.2}} años y nació en {{nacimiento.2}} <br>

   
</body>
    </html>
